<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="profileForm" class="form-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title> Profile Information </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            
            <input
              formControlName="firstName"
              matInput
              placeholder="First name"
              required
            />
            <p
              class="alert alert-danger"
              *ngIf="
              firstName.touched &&
              firstName.hasError('required')
              "
            >
              this name is required
            </p>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input
              formControlName="lastName"
              matInput
              placeholder="Last name"
              required
            />
            <p
              class="alert alert-danger"
              *ngIf="
              lastName.touched &&
              lastName.hasError('required')
              "
            >
              this lastName is required
            </p>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea
              formControlName="address"
              matInput
              placeholder="Address"
              required 
              minlength="10"
            ></textarea>
            <p
            class="alert alert-danger"
            *ngIf="
            address.touched &&
            address.hasError('required')"
            >
            this Address is required
            </p>
            <p
            class="alert alert-danger"
            *ngIf="
            address.hasError('minlength')
            "
            >
            this is the min caracter for Adresse
            </p>
          </mat-form-field>
        </div>
        <div class="col-md-6 top-padding">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Select DOB</mat-label>
            <input
              formControlName="dob"
              matInput
              [matDatepicker]="picker"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input
              formControlName="Email"
              matInput
              placeholder="Email"
              required
            />
            <p
              class="alert alert-danger"
              *ngIf="
              Email.touched &&
              Email.hasError('required')
              "
            >
              this Email is required
            </p>
            <p
              class="alert alert-danger"
              *ngIf="Email.hasError('email')"
            >
              this is not Email
            </p>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input
              type="password"
              formControlName="password"
              matInput
              placeholder="password"
              required
            />
          </mat-form-field>
          <div class="input-group-addon">
            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-radio-group formControlName="gender" class="margin-left">
            <mat-radio-button value="male"> Male </mat-radio-button>
            <mat-radio-button value="female"> Female </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="col-md-6" formArrayName="items">
        <div *ngFor=" let item of profileForm.controls.items['controls']; index as i" [formGroupName]="i">
          <mat-form-field class="full-width" >
            <input
            formControlName="phone"
            matInput
            placeholder="phone:"
            type="number" 
         
            />{{i}} 
            <div class="d-flex flex-row-reverse">  
              <button  type="button" class="close" aria-label="Close" (click)="remove(i)">
                <span aria-hidden="true">&times;</span>
              </button>
          
            </div>
          </mat-form-field>
          <!-- <mat-form-field>
            <input
          formControlName="id"
          matInput
          placeholder="id"
        
          />     
          </mat-form-field> -->
        </div>
        <button type="button"  class="btn btn-warning" (click)="addnew()">Add New</button>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button
        class="btn btn-success"
        (click)="saveForm()"
        mat-raised-button    
        color="primary"
        type="submit"
        [disabled]="profileForm.invalid"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
